<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bài 6</title>
</head>
<body>
    <h1>Bài 6: list ALL rivers in ‘S. America’ continent with length less than 1000 km</h1>
    {% for rivers in bai6_data %}
    {% if rivers.continent == "S. America" and rivers.length < 1000 %}
        <b>Name:</b>{{ rivers.name }} <br>
        <b>Continent:</b>{{ rivers.continent }} <br>
        <b>Length:</b> {{ rivers.length }} <br>
        --------------------------- <br>
    {% endif %}
    {% endfor %}
</body>
</html>