<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biker</title>
</head>
<style>
    .bocuc
    {
        margin-top: 160px;
        text-align: center;
    }
    label
    {
        font-weight: 750;
        position: absolute;
        left: 595px;
    }
    button
    {
        position:absolute;
        left: 595px;
        background-color: rgb(107, 66, 255);
        color: white;
    }

    
</style>
<body>
    <div class="bocuc">
        <form method="POST" >
            <label>Model </label> <br>
            <input name="input_model" type="text" value="e.g. Honda"> <br>

            <label>Daily fee (VND) </label> <br>
            <input name="input_fee" type="text" value="100000"> <br>

            <label>Image </label> <br>
            <input name="input_image" type="text" value="e.g. http://hondaxemay.vn/"> <br>

            <label>Year </label> <br>
            <input name="input_year" type="text" value="e.g. 2013"> <br>
            <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>